@import url('https://fonts.googleapis.com/css2?family=Forum&family=Italiana&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Forum", sans-serif;
    font-weight: 100;
    font-style: normal;
    
   
}
body{
    background-color: rgb(253, 251, 240);
    margin: 0;
}


.container{
    display: flex;
    height: 100vh;
}



.side-bar{
    margin: 16px;
    padding: 0;
    width: 200px;
    background: #002349;
    position: fixed;
    height: 100%;
    color: white;
    display: flex;
    flex-direction: column;






    

    
}
.side-bar h3{
    padding: 20px;

}
.side-bar li {
    display: block;
    color: white;
    padding: 16px;
    text-decoration: none;
    background-color: #002349;
    width: 100%;
  
}
.side-bar a{
    text-decoration: none;
    color: white;
    font-size: 16px;
    width: 100%;
}
.main_content{
    
    margin-top: 16px;
    margin-left: 250px;
   
    padding: 20px;
    width: 100%;
   
    height: 100vh;
    overflow-y: auto;
}
.cards{
    display: flex;
    gap: 20px;
    margin-left: 20px;
    margin-top: 20px;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}
.cards p{
    font-size: 18px;
    font-weight: bold;

}
.main-title p{
    font-size: 36px;
    margin-left: 100px;
    margin-bottom: 20px;


}
.main_content header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    
    color: #002349;
}
.main_content header h1{
    margin: 0;
}
.main_content header button{
    background-color:  #002349;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    

}
.section h2{
    font-size: 22px;
    margin-bottom: 20px;
}
table{
    width: 100%;
    border-collapse: collapse;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);

}
table th,table td{
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}
table th{
    background-color: #002349;
    color: #fff;
    font-weight: bold;
}






