@import url('https://fonts.googleapis.com/css2?family=Forum&family=Italiana&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Forum", sans-serif;
    font-weight: 100;
    font-style: normal;
    
   
}
.container{
    display: flex;
    height: 100vh;
}
.admin{
    padding: 20px;
    font-size: 54px;
    margin-bottom: 0;
}


.side-bar{
    margin: 16px;
    padding: 0;
    width: 200px;
    background: #002349;
    position: fixed;
    height: 100%;
    color: white;
    display: flex;
    flex-direction: column;






    

    
}
.side-bar h3{
    padding: 20px;

}
.side-bar li {
    display: block;
    color: white;
    padding: 16px;
    text-decoration: none;
    background-color: #002349;
  
}
.side-bar a{
    text-decoration: none;
    color: white;
    font-size: 16px;
}
.main_content{
    margin-top: 16px;
    margin-left: 250px;
   
    padding: 20px;
    width: 100%;
    background-color: #002349;
    height: 100vh;
    overflow-y: auto;
}
.cards{
    display: flex;
    gap: 20px;
    margin-left: 20px;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}
.cards p{
    font-size: 18px;
    font-weight: bold;

}
.main-title p{
    font-size: 36px;
    margin-left: 100px;
    margin-bottom: 20px;


}


