@import url('https://fonts.googleapis.com/css2?family=Forum&family=Italiana&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Forum", sans-serif;
    font-weight: 100;
    font-style: normal;
    
   
}

.main{
    width: 100%;
    
   background-position: center;
   background-size: cover;
   flex-wrap: wrap;
   
   
}
.navbar{
   
  display:flex;

  flex-wrap: wrap;
  gap: 10px;
  
  align-items: center;
  justify-content: space-around;
  background-color: #002349;
  color: #f9f8eb;
  
}
.navbar .icon h2{
  padding-top: 20px;
  font-size: 40px;
  color: #f9f8eb;
  

  
}
.navbar .icon a{
text-decoration: none;   
}
.navbar .icon h5{
  font-size: 18px;
}
.navbar .menu a{
  color: #f9f8eb;
  text-decoration:none;
  font-size:20px
  
}
.navbar .menu .home{
  text-decoration: underline;
}
.navbar .menu a:hover{
  color:rgb(120, 158, 168);
}
.navbar .menu{
  display:inline-flex;
 flex-wrap: wrap;
  gap: 145px;

  
  
}
.navbar .search input{
  height: 39px;
  width: 200px;
  border-radius: 5px;
  background-color:rgb(255, 255, 255);
  border-style: outset;
  border-color: rgb(207, 207, 207);
  padding-left: 10px;
  
}
.navbar .search a button{
  height: 38px;
  width: 60px;
  border-radius: 5px;
  background-color: #ffffff;
  border-color: #cccaca;
  cursor: pointer;
  
}
.home-page{
  
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
              
  width: 100%; 
}
.home-page img{
  width: 100%;
  max-width: 1550px;
  height: auto;
}
.home-page h2{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: solid 2px #002349;
  background-color:rgba(0, 35, 73, 0.5);
  text-align: center;  
  color: #fff;
  padding: 20px;
  width: 50%;
  

}


  .content{
    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 60%;
    padding: 5px;    
    text-align: center;
    margin: 150px 250px;
    font-size: 22px;
    color: #002349;
    
    
    

  }

.gallery-section {
  background-color: #002349;
  position: relative;
  width: 100%;  
  color: #fff;
  font-size: 22px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  
  
  
 
}
.galleryh2{
  
  width: 50%;
  padding: 20px;
  margin: 150px 0px;
  float: left;
  

}



.gallery{
  height: auto;
  max-width: 100px;
  margin-left: 20px;
  
  

}
.footer{
  display:flex;
  flex-wrap: wrap;
  height: 40vh;
  background-color: rgb(255, 255, 255);
  margin-top: 110px;
   justify-content: space-around;
   align-items: center;
   color: #002349;
}
.follow{
  font-weight:200;
  font-size: large;


}
.follow h3 {
  font-weight: bold;
}
.follow p a{
  color: #002349;
  text-decoration:none;
}
.services{
  font-weight:200;
  font-size: large;
}
.services h3{
  font-weight:bold ;
}
.services p a{
  color: #002349;
  text-decoration:none;
}
.contact{
  font-weight:200;
  font-size: large;
  


}
.contact h3 {
  font-weight: bold;
  color: #002349;
}
.contact p a{
  color: #002349;
  text-decoration:none;
}
.container-destinations{
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 100px;
  
  
  
}
.container-destinations img{
  width: 400px;
  height: 250px;
  
}

.container-destinations img:hover{
  cursor: pointer;
  opacity: 0.5;
  transition: 0.5s;
}
.title{
  display: flex;
  justify-content: center;
  align-items: center;

  margin-top: 150px;
  font-size: 25px;
  color: #002349;
  
}
.horizontal-line{
 width: calc(100%-120px);
  
  border: none;
  border-top: 2px solid #000080;
  margin-top: 150px;
  margin-left: 60px;
  margin-right: 60px;
}











  