*{
    margin: 0;
    padding: 0;
}

.main{
    flex-wrap: wrap;
    width: 100%;
    background:linear-gradient(to top,rgba(0,0,0,0.5)50%,rgba(0,0,0,0.5)50%),url(photo.jpg);
   background-position: center;
   background-size: cover;
   height: 160vh;
}
.navbar{
   
    display:flex;

    flex-wrap: wrap;
    gap: 10px;
    
    align-items: center;
    justify-content: space-around;
    background-color: #ffffff;
    
}
.navbar .icon h2{
    padding-top: 20px;
    font-size: 40px;
    color: black;
    

    
}
.navbar .icon a{
  text-decoration: none;   
}
.navbar .icon h5{
    font-size: 18px;
}
.navbar .menu a{
    color: black;
    text-decoration:none;
    font-size:20px
    
}
.navbar .menu .flights{
    text-decoration: underline;
}
.navbar .menu a:hover{
    color:rgb(120, 158, 168);
}
.navbar .menu{
    display:inline-flex;
   flex-wrap: wrap;
    gap: 145px;

    
    
}
.navbar .search input{
    height: 34px;
    width: 200px;
    border-radius: 5px;
    background-color:rgb(255, 255, 255);
    border-style: outset;
    border-color: rgb(207, 207, 207);
    padding-left: 10px;
    
}
.navbar .search a button{
    height: 38px;
    width: 60px;
    border-radius: 5px;
    background-color: #ffffff;
    border-color: #cccaca;
    cursor: pointer;
    
}
.box{
    flex-direction: column;
    display:block;
    flex-wrap: wrap;
    background-color: rgb(255, 255, 255);
    justify-content:center;
    align-items: center;
    margin-top: 200px;
    height: 50vh;
    
}
.box p{
    
    text-align: center;
    font-size:x-large;
    font-weight: bold;
    padding-top: 20px;
    padding-bottom: 20px;
    
}
.box2{
    background-color: rgb(240, 238, 238);
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    justify-content: center;
    text-align: center;
    padding-top: 150px;
    height: 250px;
    
}

#f1 .dep{
    
    width: 320px;
    height: 50px;
    
    border-radius: 10px;
    font-weight: bold;
    text-align: center;
    
}
#f1 .des{
    width: 320px;
    height: 50px;

    border-radius: 10px;
    font-weight:bold;
    text-align: center;
    
}
#f2 .s1{
    height: 50px;
    width: 320px;
    font-weight: bold;
    border-radius: 10px;
    text-align: center;
    
    
}


#f2 .people{
    height: 50px;
    width: 320px;
    border-radius: 10px;
    font-weight: bold;
    text-align: center;
    border-color: #cccaca;
   
}
.box .sf{
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    height: 100px;
    align-items: center;
}
.box .sf a button{
    background-color: rgb(255, 255, 255);
    width: 200px;
    height: 50px;
    border-radius: 10px;
    border-color: #cccaca;
    cursor: pointer;
    border-style: outset;
    font-weight: bold;
    
    

}
.footer{
    display:flex;
    flex-wrap: wrap;
    height: 50vh;
}
