@import url('https://fonts.googleapis.com/css2?family=Forum&family=Italiana&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Forum", sans-serif;
    font-weight: 100;
    font-style: normal;
}

body {
    font-family: Luna;
}

.main {

    width: 100%;
    height: 150vh;
    background:linear-gradient(to top,rgba(0,0,0,0.5)50%,rgba(0,0,0,0.5)50%),url('hotels.jpg') ;
    background-position: center;
    background-size: cover;
    
}

.navbar{
   
    display:flex;

    flex-wrap: wrap;
    gap: 10px;
    
    align-items: center;
    justify-content: space-around;
    background-color: #002349;
    
}
.navbar .icon h2{
    padding-top: 20px;
    font-size: 40px;
    color: rgb(255, 255, 255);
    

    
}
.navbar .icon a{
  text-decoration: none;   
}
.navbar .icon h5{
    font-size: 18px;
    color: #ffffff;
}
.navbar .menu li a{
    color: rgb(255, 255, 255);
    text-decoration:none;
    font-size:20px
    
}
.navbar .menu .hotel{
    text-decoration: underline;
}
.navbar .menu li a:hover{
    color:rgb(120, 158, 168);
}
.navbar .menu li{
    display:inline-flex;
   flex-wrap: wrap;
    margin: 50px;

    
    
}
.navbar .search input{
    height: 39px;
    width: 200px;
    border-radius: 5px;
    font-weight: bold;
    background-color:rgb(255, 255, 255);
    border-style: outset;
    border-color: rgb(207, 207, 207);
    padding-left: 10px;
    
}
.navbar .search button{
    height: 38px;
    width: 60px;
    font-weight: bold;
    border-radius: 5px;
    background-color: #ffffff;
    border-color: #cccaca;
    cursor: pointer;
    
}
.navbar .button2{
    display: inline-block;
    margin-left: 100px
}
.navbar .button2{
    display: inline-block;
    margin-left: 100px
}
.navbar .button2 a button{
    height: 38px;
    width: 60px;
    font-weight: bold;
    border-radius: 5px;
    background-color: #ffffff;
    border-color: #cccaca;
    cursor: pointer;
    
    
}

.box {
    flex-direction: column;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 200px;
    height: 49vh;
    justify-content: center;
    background: rgba(172, 172, 172, 0.3);
}

.box h1 {
    font-weight: 100;
    padding-top: 55px;
    padding-bottom: 20px;
    color: #ffffff;
    font-size: 40px;

}

/*.box2 {
    background: rgba(172, 172, 172, 0.3);
    padding: 90px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
    max-width: 80%;
    margin: auto;
    flex-wrap: wrap;
    height: 300px;
    
    
}*/

.f1 {
    justify-content:space-around;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 15px;
    
    
}
label{
    font-weight: bold;
    color: #ffffff;
    font-size: larger;
}
.dep {
    padding: 10px;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    width: 250px;
    height: 50;
    outline: none;
    font-weight: bold;
    background: rgba(255, 255, 255, 0.6);

}

input[type="date"], .guests, .rooms {
    padding: 10px;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    width: 250px;
    height:50 ;
    outline: none;
    font-weight: bold;
    background: rgba(255, 255, 255, 0.6);
    
}

.b {
    width: 250;
    height: 50px;
    font-size: 1rem;
    font-weight: bold;
    background: rgba(255, 255, 255, 0.6);
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s;
}
.footer{
    display:flex;
    flex-wrap: wrap;
    height: 40vh;
    background-color: rgb(255, 255, 255);
    margin-top: 110px;
     justify-content: space-around;
     align-items: center;
     color: #002349;
}
.follow{
    font-weight:200;
    font-size: large;


}
.follow h3 {
    font-weight: bold;
}
.follow p a{
    color: #002349;
    text-decoration:none;
  }

.services{
    font-weight:200;
    font-size: large;
}
.services h3{
    font-weight:bold ;
}
.services p a{
    
    color: #002349;
    text-decoration:none;
}
.contact{
    font-weight:200;
    font-size: large;


}
.contact h3 {
    font-weight: bold;
}
.contact p a{
    color: #002349;
    text-decoration:none;
}
