
@import url('https://fonts.googleapis.com/css2?family=Forum&family=Italiana&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Forum", sans-serif;
    font-weight: 100;
    font-style: normal;
}
.navbar{
   
    display:flex;   

    flex-wrap: wrap;
    gap: 10px;
    
    align-items: center;
    justify-content: space-around;
    
    background-color: #002349;
    color: #f9f8eb;
    
}
.navbar .icon h2{
    padding-top: 20px;
    font-size: 40px;
    color: #f9f8eb;
    
    

    
}
.navbar .icon a{
  text-decoration: none;   
}
.navbar .icon h5{
    font-size: 18px;
}
.navbar .menu a{
    color: #f9f8eb;
    text-decoration:none;
    font-size:20px
    
}

.navbar .menu a:hover{
    color:rgb(120, 158, 168);
}
.navbar .menu{
    display:inline-flex;
   flex-wrap: wrap;
    gap: 145px;

    
    
}
.navbar .search input{
    height: 39px;
    width: 200px;
    border-radius: 5px;
    font-weight: bold;
    background-color:rgb(255, 255, 255);
    border-style: outset;
    border-color: rgb(207, 207, 207);
    padding-left: 10px;
    
}
.navbar .search  button{
    height: 38px;
    width: 60px;
    font-weight: bold;
    border-radius: 5px;
    background-color: #ffffff;
    border-color: #cccaca;
    cursor: pointer;
    
}


body{
    background-color: #fff;
    position: relative;
    height: 100vh;
    width: 100%;
    background-image: url(https://www.marriott.com/content/dam/marriott-leisure/destinations/hero/asia/japan/okinawa/JapanOkinawa_hero_destinations.jpg);
    
    background-size: cover;
    background-position: center;
    margin-bottom: 60px;
}
.container{
   
    position: absolute;
    max-width: 420px;
    width: 100%;                  
    
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;    
    align-items: center;    
    margin: 350px auto;
    padding: 35px;
    border-radius: 12px;  
    left: 50%;  
    transform: translate(-50%, -50%);
    margin-bottom: 40px;
}
.form_container-login h1{
    font-size: 22px;
    color:#000080;
    text-align: center;
    

}
.input-box{
   
    position: relative;
    margin: 40px 0;
    width: 100%;
    height: 40px;


}
.input-box input{
    
    padding: 10px;
    height: 100%;
    width: 300px;
    max-width: 500px;
    border: none;
    border-bottom: 1.5px solid#000080;
    font-size: 20px;
    
}
.input-box i{
    position: absolute;
    top: 50%;
    left: -11%;
    transform: translateY(-50%);
    font-size: 20px;
    color: #000080;

}
/*#hide-pw{
    position: absolute;
    top: 50%;
    margin-left: 340px;
    
    font-size: 15px;
    color: #000080;

}*/
.input-box button{
    position: relative;
    display: inline-block;
    margin: 4px 0;
    width: 100%;
    height: 40px;
    background-color: #000080; 
    color: #fff;
    font-size: 20px;
    border-radius: 8px; 
    transition: background-color 0.3s ease;
    cursor: pointer; 
}
.input-box button:hover{
    background-color: #fff;
    color: #002349;
}
p{
    font-size: 18px;
    text-decoration: none;
    margin-top: 20px;
    
}
.form_container-register button{
    position: relative;
    display: inline-block;
    margin: 4px 0;
    width: 100%;
    height: 40px;
    background-color: #000080; 
    color:   #f9f8eb;
    font-size: 20px;
    border-radius: 8px; 
    transition: background-color 0.3s ease;
    cursor: pointer; 

}
.form_container-register button:hover{
    background-color:  #fff;
    color: #000080;
}

.form_container-register a{
    text-decoration: none;
    color: #000080;
}
.form_container-login a{
    text-decoration: none;
    color: #000080;

}
.form_container-register h1{
    font-size: 22px;
    color:#000080;
    text-align: center;

}

@media(max-width: 1100px){
    .container{
      width: min(600px, 100%);
      
    }
  }


  input.error {
    border: 2px solid rgb(162, 30, 30);
    background-color: #f8d7da;
}

#error-message {
    color: rgb(162, 30, 30);
    font-size: 15px;
    margin-top: 10px;
    padding: 5px;
    border: 1px solid rgb(162, 30, 30);
    background-color: #f8d7da;
    border-radius: 5px;
    display: none;
    
    
    
}


