@import url('https://fonts.googleapis.com/css2?family=Forum&family=Italiana&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Forum", sans-serif;
    font-weight: 100;
    font-style: normal;
    
   
}

.main{
  
    width: 100%;
    background-position: center;
   background-size: cover;
   flex-wrap: wrap;
   
   
}
.navbar{
   
  display:flex;

  flex-wrap: wrap;
  gap: 10px;
  
  align-items: center;
  justify-content: space-around;
  background-color: #002349;
  
}
.navbar .icon h2{
  padding-top: 20px;
  font-size: 40px;
  color: rgb(255, 255, 255);
  

  
}
.navbar .icon a{
text-decoration: none;   
}
.navbar .icon h5{
  font-size: 18px;
  color: #ffffff;
}
.navbar .menu li a{
  color: rgb(255, 255, 255);
  text-decoration:none;
  font-size:20px
  
}
.navbar .menu .home{
  text-decoration: underline;
}
.navbar .menu li a:hover{
  color:rgb(120, 158, 168);
}
.navbar .menu li{
  display:inline-flex;
 flex-wrap: wrap;
  margin: 50px;

  
  
}
.navbar .search input{
  height: 39px;
  width: 200px;
  border-radius: 5px;
  font-weight: bold;
  background-color:rgb(255, 255, 255);
  border-style: outset;
  border-color: rgb(207, 207, 207);
  padding-left: 10px;
  
}
.navbar .search button{
  height: 38px;
  width: 60px;
  font-weight: bold;
  border-radius: 5px;
  background-color: #ffffff;
  border-color: #cccaca;
  cursor: pointer;
  
}
.navbar .button2{
  display: inline-block;
  margin-left: 100px
}
.navbar .button2{
  display: inline-block;
  margin-left: 100px
}
.navbar .button2 a button{
  height: 38px;
  width: 60px;
  font-weight: bold;
  border-radius: 5px;
  background-color: #ffffff;
  border-color: #cccaca;
  cursor: pointer;
  
  
}

.home-page{
  
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;         
  width: 100%; 
}
.home-page img{
  width: 100%;
  max-width: 1550px;
  height: auto;
}
.home-page h2{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: solid 2px #002349;
  background-color:rgba(0, 35, 73, 0.5);
  text-align: center;  
  color: #fff;
  padding: 20px;
  width: 50%;
  

}


  .content{
    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 60%;
    padding: 5px;    
    text-align: center;
    margin: 150px 250px;
    font-size: 22px;
    color: #002349;
    
    
    

  }

.gallery-section {
  background-color: #002349;
  position: relative;
  width: 100%;  
  color: #fff;
  font-size: 22px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  
  
  
  
 
}
.galleryh2{
  flex: 1;
  max-width: 50%;
  width: 100%;
  padding: 20px;
  text-align: left;

  

}



.gallery{
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
 
  max-width: 50%;
  
  gap: 20px;
  
  

}
.gallery img{
  width: 100%;
  max-width: 500px;
  height: auto;
  margin: 10px;

}
.footer{
  display:flex;
  flex-wrap: wrap;
  height: 40vh;
  background-color: rgb(255, 255, 255);
  margin-top: 110px;
   justify-content: space-around;
   align-items: center;
   color: #002349;
}
.follow{
  font-weight:200;
  font-size: large;


}
.follow h3 {
  font-weight: bold;
}
.follow p a{
  color: #002349;
  text-decoration:none;
}
.services{

  font-weight:200;
  font-size: large;
}
.services h3{
  font-weight:bold ;
}
.services p a{
  color: #002349;
  text-decoration:none;
}
.contact{
  font-weight:200;
  font-size: large;
  


}
.contact h3 {
  font-weight: bold;
  color: #002349;
}
.contact p a{
  color: #002349;
  text-decoration:none;
}

.slider{
	margin:100px auto;
	width:65%;
  

}

.img-box img{
	width:100%;
}

.btn1{
	border:none;
	outline:none;
	background:#002349;
	padding:10px 30px;
	font-size: 20px;
	color:#ddd;
	cursor: pointer;
	margin:10px auto;	
  float: left;	
  	 
}
.btn2{
	border:none;
	outline:none;
	background:#002349;
	padding:10px 30px;
	font-size: 20px;
	color:#ddd;
	cursor: pointer;
	margin:10px auto;			 
  float: right;
}

.btn:hover{
	background: #111;
}

.container-destinations{
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 50px;
  
  
  
}
.container-destinations img{
  width: 400px;
  height: 250px;
  
}

.container-destinations img:hover{
  cursor: pointer;
  opacity: 0.5;
  transition: 0.5s;
}
.title{
  display: flex;
  justify-content: center;
  align-items: center;

  margin-top: 200px;
  margin-bottom: 50px;
  font-size: 25px;
  color: #002349;
  
}
.horizontal-line{
 width: calc(100%-120px);
  
  border: none;
  border-top: 2px solid #000080;
  margin-top: 150px;
  margin-left: 60px;
  margin-right: 60px;
}
@media (max-width: 768px) {
  .navbar{
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
  .navbar .menu{
    flex-direction: column;
    gap: 15px;
    justify-content: center;
    align-items: center;

  }
  .navbar .search input{
    width: 75px;
  }
  .home-page img{
    width: 100%;
    height: auto;
  }
  .home-page h2{
    width: 80%;
    font-size: 15px;
  }
  .content{
    width: 90%;
    font-size: 18px;
    margin: 100px auto;
  }
  .gallery-section{
    
    flex-direction: column;
  }
  .galleryh2,.gallery{
    max-width: 100%;
    text-align: center;
  }
  @media(max-width: 480px){
    .navbar{
      flex-direction: column;
      align-items: center;
      gap: 10px;
    }
    .navbar .menu{
      flex-direction: column;
      align-items: center;
      gap: 10px;
    }
    .navbar .search input{
      width: 90%;
    }
    .home-page h2{
      width: 90%;
      font-size: 16px;
      padding: 10px;

    }
    .content{
      width: 100%;
      margin: 50px auto;
      font-size: 16px;
    }
    .container-destinations img{
      width: 90%;
      height: auto;
    }
    .footer{
      flex-direction: column;
      gap: 15px;
      text-align: center;
    }
    .gallery-section{
    
      flex-direction: column;
    }
    .galleryh2,.gallery{
      max-width: 100%;
      text-align: center;
    }
  }
  
  
}
